In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as snn

In [2]:
film1 = pd.read_csv(r"C:\Users\rajar\OneDrive\Desktop\Excel Folder\movie2.csv")
film2 = pd.read_csv(r"C:\Users\rajar\OneDrive\Desktop\Excel Folder\Movie1.csv")

In [3]:
film1.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
film2.head(2)

,movie_id,title,cast,crew,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1255,Unnamed: 1256,Unnamed: 1257,Unnamed: 1258,Unnamed: 1259,Unnamed: 1260,Unnamed: 1261,Unnamed: 1262,Unnamed: 1263,Unnamed: 1264
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Extrecting only important column from film2
film2 = film2[['movie_id', 'title', 'cast','crew']]

In [6]:
film2.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [7]:
# We need to merge both data in one frame
movies = film1.merge(film2,on='title')

In [8]:
movies.shape

(4809, 23)

In [9]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [10]:
# selecting only required columns
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [11]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [12]:
# checking null values in movies data
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        4
dtype: int64

In [13]:
# there are only few null values so will drop it
movies = movies.dropna()

In [14]:
# As We can see there are no null values in this data now
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [15]:
# Checking duplicate values
movies.duplicated().sum()

0

In [16]:
# data is clean now
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [17]:
#as we can see format of genres column is different,we need to extract all the genre from the dictionary and stored it in list column
movies['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
import ast
def convert_column(txt):
    lis = []
    for i in ast.literal_eval(txt):
        lis.append(i['name'])
    return lis

In [19]:
# Apply the 'convert_column' function to the 'genres' column of the 'movies' DataFrame
movies['genres'] = movies['genres'].apply(convert_column)

In [20]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [21]:
# Apply the 'convert_column' function to the 'keywords' column of the 'movies' DataFrame
movies['keywords'] = movies['keywords'].apply(convert_column)

In [22]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [23]:
#from cast column, we are fetching only top 3 actors name(actual name of a actor, main lead actors) for the respective movie
def first_3top_actor(txt):
    lis = []
    count = 0
    for i in ast.literal_eval(txt):
        if count < 3:
            lis.append(i['name'])
        count+=1
    return lis

In [24]:
# Apply the 'first_3top_actor' function to the 'cast' column of the 'movies' DataFrame
movies['cast'] = movies['cast'].apply(first_3top_actor)

In [25]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [63]:
movies['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [61]:
#Need to convert overview column into list for concatenation as it is in string and list+string concatenation not possible
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [62]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [65]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(' ','')for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(' ','')for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(' ','')for i in x])

In [66]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [67]:
movies['tags'] =movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast']

In [68]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[Captain, Barbossa,, long, believed, to, be, d..."

In [69]:
Df = movies[['movie_id','title','tags']]

In [70]:
Df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [71]:
Df['tags'] = Df['tags'].apply(lambda x: ' '.join(x))

In [72]:
Df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [73]:
Df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver'

In [74]:
# converting in lower case of all the texes

In [75]:
Df['tags'] = Df['tags'].apply(lambda x: x.lower())

In [123]:
Df.head(88)

,movie_id,title,tags
0,19995,Avatar,"inthe22ndcentury,aparaplegmarinisdispatchtothe..."
1,285,Pirates of the Caribbean: At World's End,"captainbarbossa,longbelievtobedead,hacomebackt..."
2,206647,Spectre,acrypticmessagfrombond’pastsendhimonatrailtoun...
3,49026,The Dark Knight Rises,"followthedeathofdistrictattorneyharveydent,bat..."
4,49529,John Carter,"johncarterisawar-weary,formermilitaricaptainwh..."
...,...,...,...
83,79698,The Lovers,theloverisanepicromanctimetraveladventurfilm.h...
84,64686,47 Ronin,"baseontheorigin1941movifromjapan,andfromancien..."
85,100402,Captain America: The Winter Soldier,afterthecataclysmeventinnewyorkwiththeavengers...
86,10192,Shrek Forever After,aboreanddomestshrekpactwithdeal-makrumpelstilt...
87,158852,Tomorrowland,"boundbyasharedestiny,abright,optimistteenburst..."

In [80]:
# steaming words 
import nltk

In [82]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [89]:
def stem(txt):
    t = []
    for i in txt.split():
        t.append(ps.stem(i))
    return ''.join(t)

In [91]:
Df['tags'] = Df['tags'].apply(stem)

In [92]:
Df

,movie_id,title,tags
0,19995,Avatar,"inthe22ndcentury,aparaplegmarinisdispatchtothe..."
1,285,Pirates of the Caribbean: At World's End,"captainbarbossa,longbelievtobedead,hacomebackt..."
2,206647,Spectre,acrypticmessagfrombond’pastsendhimonatrailtoun...
3,49026,The Dark Knight Rises,"followthedeathofdistrictattorneyharveydent,bat..."
4,49529,John Carter,"johncarterisawar-weary,formermilitaricaptainwh..."
...,...,...,...
4804,9367,El Mariachi,elmariachijustwanttoplayhiguitarandcarrionthef...
4805,72766,Newlyweds,anewlywcouple'honeymoonisupendbythearrivofthei...
4806,231617,"Signed, Sealed, Delivered","""signed,sealed,delivered""introducadedicquartet..."
4807,126186,Shanghai Calling,whenambitinewyorkattorneysamissenttoshanghaion...
4808,25975,My Date with Drew,eversincthesecondgradewhenhefirstsawherine.t.t...

In [93]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [94]:
vector = cv.fit_transform(Df['tags']).toarray()

In [128]:
vector.shape

(4802, 5000)

In [97]:
cv.get_feature_names()

['00',
 '000',
 '10',
 '11',
 '12',
 '14',
 '14novemb1990thatmadcametoaramoana',
 '16',
 '17',
 '18',
 '1970s',
 '1974',
 '1990',
 '200',
 '27',
 '30',
 '300',
 '50',
 '60',
 '60s',
 'a16',
 'abeautiful',
 'abet',
 'abovall',
 'accidentally',
 'acomedy',
 'acoming',
 'aconman',
 'acop',
 'action',
 'actually',
 'ada',
 'adam',
 'adams',
 'adaptfromthenovel',
 'aditya',
 'adown',
 'adrug',
 'adventure',
 'adventurfantasiactionelvorcmiddle',
 'advice',
 'afast',
 'afree',
 'afterall',
 'afterhifather',
 'afterservhifiveyearjailsentence',
 'againstallodds',
 'aged',
 'aggie',
 'agroupofco',
 'ahalf',
 'ahard',
 'ahigh',
 'ahusband',
 'air',
 'ajapanese',
 'ajewish',
 'alaska',
 'alawyer',
 'alecbaldwin',
 'alex',
 'alexander',
 'alice',
 'alive',
 'alongtheway',
 'alove',
 'alovetriangle',
 'amador',
 'aman',
 'amanda',
 'america',
 'american',
 'americangirl',
 'americanwar',
 'americanzion',
 'amiddle',
 'amidthechaos',
 'amp',
 'amy',
 'amysterious',
 'an11',
 'anaction',
 'anafrican',
 'anafro',
 'anaging',
 'anall',
 'andagain',
 'andall',
 'andeachother',
 'andhe',
 'andhedoesn',
 'andhifamily',
 'andhifiancée',
 'andisn',
 'andit',
 'andjack',
 'andjin',
 'andnowhe',
 'andnowshe',
 'andonlionemancanstophim',
 'andself',
 'andshadow',
 'andshe',
 'andthat',
 'andthecouple',
 'andthemafia',
 'andthey',
 'andwhy',
 'andy',
 'aneight',
 'anex',
 'angela',
 'angels',
 'anger',
 'annafaris',
 'anne',
 'annemoss',
 'annie',
 'anti',
 'antonio',
 'antonyelchin',
 'aone',
 'aparasitaliensoulisinjectintothebodiofmelanistryder',
 'apocalyptfuture',
 'apocalyptworld',
 'arag',
 'archeritournamentontv',
 'arci',
 'areal',
 'armlocalpolicemenrisktheirlivetritofindhimandsavethesurvivors',
 'army',
 'artist',
 'asachild',
 'asaresult',
 'aself',
 'asexy',
 'ashecometobecalled',
 'ashestalkhivictimtheterrifiandconfusresidweretrapfor24hourwhileahandofunder',
 'asinglmother',
 'asmall',
 'asmallnewzealandseasidtown',
 'asmuggler',
 'aspace',
 'asshedespertritoholdeveryontogether',
 'asthenightprogresses',
 'astreet',
 'astudent',
 'asweet',
 'atfirst',
 'atfirstglance',
 'athome',
 'atight',
 'atlonglast',
 'atthesametime',
 'atwo',
 'au',
 'automatrifle',
 'avolatile',
 'awantman',
 'award',
 'awell',
 'awild',
 'awoman',
 'ayoungafrican',
 'ayoungboy',
 'ayoungman',
 'babe',
 'baby',
 'band',
 'barry',
 'bart',
 'baseonactualevents',
 'baseonatruestory',
 'baseonfrankmiller',
 'baseonthebest',
 'baseontrueevents',
 'basketball',
 'beautiful',
 'becaushehasn',
 'becca',
 'beer',
 'beforlong',
 'beforyoucansay',
 'benkingsley',
 'benstiller',
 'best',
 'bestfriend',
 'bestfriends',
 'beth',
 'betrayal',
 'bettmidler',
 'bianca',
 'big',
 'billy',
 'body',
 'boog',
 'book',
 'boring',
 'bornagain',
 'boss',
 'boyfriend',
 'boyfriendex',
 'boyfriends',
 'breakupwards',
 'breathdragon',
 'bride',
 'brien',
 'brilliant',
 'brooklyn',
 'brother',
 'buddilove',
 'bush',
 'butbeforlong',
 'buthe',
 'buthedoesn',
 'butit',
 'butitisn',
 'butler',
 'butnow',
 'butnowhe',
 'butreceivacallofhelpfromhyun',
 'butshe',
 'butsoon',
 'butthat',
 'butthere',
 'butthey',
 'butthingdon',
 'butwhenhe',
 'bychance',
 'cal',
 'caleb',
 'california',
 'calvin',
 'campbell',
 'capt',
 'captainjean',
 'car',
 'carl',
 'carmen',
 'carnival',
 'carol',
 'carrie',
 'carter',
 'cebe',
 'charlie',
 'chazzpalminteri',
 'cher',
 'child',
 'children',
 'christian',
 'circuit',
 'clay',
 'clonewars',
 'close',
 'cmdr',
 'coach',
 'cobb',
 'cohen',
 'colin',
 'collection',
 'colleg',
 'com',
 'comedidocumentaristand',
 'comedy',
 'commandofficer',
 'company',
 'connel',
 'connor',
 'cool',
 'courage',
 'crane',
 'cross',
 'crossed',
 'cruise',
 'dad',
 'dannidevito',
 'dannidyer',
 'danniglover',
 'danny',
 'darci',
 'darkpast',
 'daughter',
 'dave',
 'david',
 'davidhewlett',
 'day',
 'dc',
 'death',
 'demons',
 'dennihopperisahard',
 'derek',
 'desperate',
 'destruction',
 'determination',
 'dex',
 'diane',
 'diego',
 'dies',
 'dil',
 'dillon',
 'disappears',
 'discovery',
 'disease',
 'doc',
 'documentari',
 'documentariwomandirector',
 'donna',
 'donnel',
 'doorneighbor',
 'double',
 'doubt',
 'dr',
 'dracula',
 'drag',
 'drama',
 'dramaromancloveofone',
 'dream',
 'drinktruckdriverwholosecontrolofhitruckundertheinfluencandslamitintoabusloadofscreamchildren',
 'driver',
 'drug',
 'drugs',
 'du',
 'duandhifamiliarethrustintoabattlwiththemonstertorescutheirbelovhyun',
 'duchovny',
 'duff',
 'duisadim',
 'durethenight',
 'dutton',
 'dying',
 'eachother',
 'earth',
 'eddie',
 'edmund',
 'eeyore',
 'ella',
 'elmariachi',
 'emily',
 'emmathompson',
 'end',
 'enemies',
 'england',
 'er',
 'erica',
 'esteem',
 'ethanhawke',
 'eve',
 'evenifit',
 'eventhoughhe',
 'eventually',
 'evenworse',
 'evil',
 'ex',
 'excusfornam',
 'existence',
 'expectations',
 'eye',
 'eyes',
 'fall',
 'fallill',
 'familibusiness',
 'familipainprovetobedoomed',
 'family',
 'farm',
 'faster',
 'fat',
 'father',
 'feet',
 'female',
 'ferrell',
 'fi',
 'fiance',
 'finalcut',
 'finally',
 'finest',
 'fixer',
 'food',
 'foot',
 'forcenturies',
 'forever',
 'forgiveness',
 'forhelp',
 'formabondwithherhostandsetouttoaidotherfreehumans',
 'formerblack',
 'forsixmonths',
 'fortunately',
 'foryears',
 'fourguys',
 'fox',
 'foxchristopherlloydleathompson',
 'foxgeenadavihughlauri',
 'france',
 'frank',
 'frankenstein',
 'fred',
 'free',
 'friend',
 'friends',
 'friendship',
 'fun',
 'funeral',
 'funny',
 'future',
 'gang',
 'gangster',
 'gary',
 'gay',
 'genehackman',
 'george',
 'georgia',
 'girl',
 'girlfriend',
 'god',
 'gonzo',
 'good',
 'gordon',
 'gothamcity',
 'government',
 'gr',
 'grace',
 'gradually',
 'grant',
 'graphicnovel',
 'greed',
 'green',
 'gregkinnear',
 'griffin',
 'groberg',
 'grownintoarebellipunkinabackwattown',
 'guardianangel',
 'gun',
 'guns',
 'gwynethpaltrowdoncheadl',
 'habits',
 'half',
 'hall',
 'halloranjeffandersonjasonmew',
 'hand',
 'hands',
 'hannah',
 'haotherplans',
 'hard',
 'harris',
 'harrisonford',
 'harry',
 'havebarebeenlookafterbyherjunkimon',
 'head',
 'heart',
 'hearted',
 'hecan',
 'hedoesn',
 'hee',
 'helearnhe',
 'helenabonhamcarter',
 'helenhunt',
 'help',
 'henri',
 'hercules',
 'herex',
 'herfather',
 'herhusband',
 'hero',
 'heroes',
 'hethinkit',
 'hi',
 'hibestfriend',
 'hifather',
 'high',
 'highestmountain',
 'himother',
 'hire',
 'hiroyukitagawa',
 'history',
 'hitman',
 'hiwife',
 'holds',
 'home',
 'hoparkhae',
 'hopeofoncagainbecoma',
 'hopper',
 'hopperfindhidaughter',
 'horrorclassic',
 'horrorfilm',
 'house',
 'huguesanglad',
 'human',
 'humans',
 'humor',
 'hungriforrevenge',
 'husband',
 'husbandex',
 'hyun',
 'ifyou',
 'ignorherfather',
 'il',
 'ilbaedoona',
 'illinois',
 'illness',
 'in1919',
 'in1964',
 'in1979',
 'in1997',
 'inalast',
 'inaninstant',
 'inapost',
 'inberlin',
 'ineachcase',
 'infact',
 'influence',
 'inhighschool',
 'inla',
 'inmanhattan',
 'inmexico',
 'innewyorkcity',
 'inreturn',
 'inshort',
 'inspirbyactualevents',
 'inspirbytrueevents',
 'instead',
 'insteadofcarrioutherrace',
 'inter',
 'inthe1950s',
 'inthefirst',
 'intheformofalonegunmanwithahigh',
 'inthefuture',
 'inthemeantime',
 'inthepre',
 'intheprocess',
 'inthesecond',
 'inturn',
 'irina',
 'irish',
 'isn',
 'itisn',
 'jack',
 'jackryan',
 'jackson',
 'james',
 'jamie',
 'jane',
 'japaneswar',
 'jason',
 'jealous',
 'jean',
 'jeanreno',
 'jeans',
 'jeffbridges',
 'jeffrey',
 'jessicaalba',
 'jill',
 'jim',
 'jimi',
 'jimmi',
 'jimmy',
 'jin',
 'jo',
 'joey',
 'john',
 'johnh',
 'johnmalkovich',
 'johnnidepp',
 'johnny',
 'johnson',
 'johnsonchloëgracemoretzchristophermintz',
 'jon',
 'jones',
 'joo',
 'jordan',
 'jose',
 'joseph',
 'joshbrolin',
 'joséecroz',
 'jr',
 'julian',
 'jung',
 'justin',
 'kate',
 'katehudson',
 'katiholmes',
 'katiperry',
 'kelly',
 'kevin',
 'kevindaniels',
 'killer',
 'killers',
 'knownas',
 'krab',
 'kristenstewart',
 'later',
 'laura',
 'law',
 'lawbrother',
 'lawrence',
 'laws',
 'lee',
 'legacy',
 'lerman',
 'levitt',
 'life',
 'linda',
 'lindamanz',
 'lino',
 'lisa',
 'list',
 'little',
 'lives',
 'llcoolj',
 'loangeles',
 'loneliness',
 'long',
 'loose',
 'loss',
 'love',
 'loveofone',
 'lover',
 'lt',
 'luckily',
 'lucy',
 'macy',
 'madness',
 'maggie',
 'mako',
 'man',
 'mantis',
 'mariabello',
 'mark',
 'martin',
 'marty',
 'master',
 'mate',
 'mattdamon',
 'matthew',
 'matthewmcconaughey',
 'maurice',
 'max',
 'maximillian',
 'maybhe',
 'mcginley',
 'meg',
 'memoir',
 'men',
 'mexico',
 'mibigfatgreekwedding',
 'michael',
 'michaeljaiwhite',
 'michaelmoore',
 'michigan',
 'mickey',
 'middle',
 'mike',
 'mild',
 'mind',
 'mirandarichardson',
 'missionoftakeovertheearth',
 'missouri',
 'mistress',
 'mom',
 'money',
 'moore',
 'morethanfriends',
 'mostwanted',
 'mother',
 'mr',
 'mrs',
 'multi',
 'murder',
 'murrayabraham',
 'music',
 'nam',
 'nancy',
 'naturaliststyleandsympathetic',
 'naturally',
 'nawen',
 'nboots',
 'neal',
 'neil',
 'nemesis',
 'neo',
 'nephi',
 'new',
 'newjersey',
 'newjerseycarmechanstaciandreandherpolicdetectgirlfriendlaurelhesterbothbattltosecurhester',
 'newliappointdirector',
 'newliarrivtoaremotdeserttown',
 'newlidivorcandatacrossroads',
 'newlidivorcmegaltmanandheryoungdaughtersarahplayadeadligameofcat',
 'newlielectpresidnelsonmandelaknowhinationremainracialandeconomdividinthewakeofapartheid',
 'newliengaged',
 'newlifeformbegantoappearandhalfofmexicowaquarantinasaninfectzone',
 'newlifeofawesomisthreatenbytheemergofaformidvillain',
 'newliunemploycomicmustnavigthemurkiwaterofadulthoodafterherflingwithagraduatstudentresultinanunplanpregnancy',
 'newlove',
 'newly',
 'newlywcliffandcydneyheadtothetropicislandofhawaii',
 'newlywcoupltedandtami',
 'newmexico',
 'newnemesis',
 'neworleandistrictattorneyjimgarrisondiscovthere',
 'newpartnerrobin',
 'newproductdelivafeel51timemorepowerthananithrill',
 'newromantinterestamy',
 'newruleenforcbytheladimayoressmeanthatsex',
 'newsanchorwomancindicampbelhatoinvestigmystericropcirclandkillvideotapes',
 'newsheriffrangoisforctoplayhinewroletothehilt',
 'newsproducer',
 'newstepfathisnotwhathemadehimselfouttobe',
 'newsummerhome',
 'newsupervisorbecomromantinvolvwithhidaughteran18year',
 'newterrifitruthemergthatforchertoquestioneveryonaroundher',
 'newtreturnhometojonecountitosafeguardhifamilibutissoonbrandanoutlawdeserter',
 'newveteran',
 'newworldandattitudfinaltakeatollonher',
 'newyork',
 'newyorkandistanbul',
 'newyorkcgalakualalumpurmalaysiaseanconnericatherinezeta',
 'newyorkcitigumshomikereilli',
 'newyorkcitiisfullofloneheartseektherightmatch',
 'newyorkcity',
 'newyorkcjenniferconnellijohnc',
 'newyorkcmadisonsquaregardenduringcreditsstingkevinhartdavidterreldavidjasonperez',
 'newyorkcolumnist',
 'newyorkcrodentmongrellouisc',
 'newyorkcsevendeadlysinethicgainesvillefloridakeanureevalpacinocharlizetheron',
 'newyorkcsouthwesternu',
 'newyorkcwomandirectorjadapinkettsmithtommydavidsonduanemartin',
 'newyorkdetectjohnmcclaneisbackandkickbad',
 'newyorkfashiondesignmelanicarmichaelsuddenlifindherselfengagtothecity',
 'newyorkpolicdetectjohnshaftarrestwalterwadejr',
 'newyorkrestaurateur',
 'newyorksingerandnightclubownerladilouhamoremenfriendthanyoucanimagine',
 'nextgreatpitcherfromapoolofcricketplayerinindia',
 'nextpromqueen',
 'nexttarget',
 'nextvictim',
 'nialong',
 'nicandjules',
 'nicegalandjustplainweirdgals',
 'nicegirl',
 'nicholafindhimselfconsumbyadangersetofever',
 'nicholagarrigandecidit',
 'nicholson',
 'nick',
 'nickabandonhidull',
 'nickanderson',
 'nickcannotstopobsessoverhiex',
 'nickfury',
 'nickgetpassoverforapromotion',
 'nickgunarisaburnt',
 'nickhumeisamild',
 'nickiendtheirrelationship',
 'nickiisinbuenoairworkaveridangerschemewhenjess',
 'nickisanironworkwhobuildandrepairbridges',
 'nickisbasicagood',
 'nickloaththethoughtofanothmission',
 'nicknolte',
 'nickoffertobringherkidtothecitifromportland',
 'nickstahl',
 'nicktwisp',
 'nicky',
 'nicol',
 'nicolahaahappiexistence',
 'nicolandchasefindthattheonetheyalwaywantwacloserthantheyeverthought',
 'nicolandchaselivenextdoortoeachotherbutareworldapart',
 'nicole',
 'nicolmuñoz',
 'nicolzaray',
 'niece',
 'niecfrom40yearago',
 'nieciskidnapbyvampires',
 'nigelhavers',
 'night',
 'nightclubmanagdarnelwrightisaperpetuplayboywhoisalmostasdevottohijobasheistothepursuitofbeautiwomen',
 'nightcontest',
 'nightdiner',
 'nightendandanewdaybreaks',
 'nightmarat20',
 'nightmares',
 'nightofthelivedeadistheprogenitorofthecontemporari',
 'nightpublicaccessshowathinetwork',
 'nightradioadvice',
 'nightshyamalan',
 'nightstandamyschumbillhadbrielarson',
 'nightstandbeautijasonsegelkristenbelmilakuni',
 'nightstandbecomsomethelse',
 'nightstandbedpregnancyandbirthcondompaterndrugusbeardunprotectedsexduringcreditsstingsethrogenkatherineheigllesliemann',
 'nightstandbeerblonddogwomandirectorashleyjuddlaurapreponjeffreydonovan',
 'nightstandbrideman',
 'nightstandbridesmaidforbiddenlovmalefemalerelationshipbestfriendsinlovpatrickdempseymichellemonaghankevinmckidd',
 'nightstandextramaritalaffairsexpartikevinbaconcolinfirthalisonlohman',
 'nightstandfriendshipswimmingpooldrinknaivduringcreditsstingannehechedhelmsigourneyweav',
 'nightstandindependentfilmgayrelationshiptomcullenchrisnewjonathanrac',
 'nightstandmanipulnightmarseductphotographifriendshipassaultalteregomurderstalkviolencpsychiatristinterrogdesirguiltextramaritalaffairhitchcockianstraightrazorexhibitionelevdarksecretwhiteglovmichaelcainangiedickinsonnancyallen',
 'nightstandromanticcomediaccidentallovjakegyllenhajessicabieljamesmarsden',
 'nightstandsingldakotajohnsonrebelwilsonalisonbri',
 'nightstandtimetraveltimemachinincestovertonhottubpeterpansyndromfortysomethskijohncusacklizzycaplanrobcorddri',
 'nightstandwithstrangers',
 'nightwatch',
 'nikeandstarbuckcombined',
 'nikki',
 'nina',
 'ninadobrev',
 'nineteen',
 'nineties',
 'nineyearagotwostrangermetbychancandspentanightinviennathatendbeforsunrise',
 'nineyearlater',
 'ninjaassassinfollowraizo',
 'nipper',
 'nique',
 'niqujimmyjean',
 'niqupaulapatton',
 'nixon',
 'nixonremainsilent',
 'nixonsurpriseveryoninselectfrostashitelevisconfessor',
 'nmarisaberensonhardykrüg',
 'nmilitariunitthatdoethejobthatindividugovernwont',
 'noah',
 'noahtaketothestreets',
 'noahwyle',
 'nobodiknowwhosamis',
 'nobusilikeshowbusiness',
 'nodreamofabettertomorrow',
 'nodrugs',
 'noevidthatnegattheevidagainsther',
 'noexceptforriley',
 'nofraternwithcustomand',
 'nofuturinthefieldandofferhibrothertobecomabankrobbers',
 'nogood',
 'nohappiness',
 'noi',
 'noilcorportoprotecttheirlandfrombedestroybyexcessdrillandspills',
 'noimagination',
 'noimmortalivhabeenabltodefeatkellyet',
 'noir1960terencestamplesleyannwarrenluisguzmán',
 'noir3dmickeyrourkjessicaalbajoshbrolin',
 'noiralpacinoellenbarkinjohngoodman',
 'noiralpacinojacklemmonalecbaldwin',
 'noiralpacinorobinwilliamhilaryswank',
 'noirbmwapathiconfessionbooththoughtsofretirhailmariworkinginthenuddrugraidironingmoneybedtimepraybriefshotpointblankreferencetogregoryhinpolicebadgsexslavtrailofbloodgoldwatchmanslapsawomanmoldrichardgerdoncheadlethanhawk',
 'noirburialpizzashopdrugmatthewmcconaugheyemilehirschthomashadenchurch',
 'noirdrugtraffickverylittledialoguemasculryangoslkristinscottthomagordonbrown',
 'noirfilmstarwesleysnipeandmichaelwrightasbrotherroemelloandraynathanskuggs',
 'noirfuturenoirtomcruiscolinfarrelsamanthamorton',
 'noirguypearccarrie',
 'noirharrisonfordrutgerhauseanyoung',
 'noirjacknicholsonjessicalangjohncolico',
 'noirjacknicholsonstephendorffjenniferlopez',
 'noirjeffbridgtimrobbinjoancusack',
 'noirjessicaalbadevonaokicliveowen',
 'noirjosephgordon',
 'noirkeanureevwinonarydwoodyharrelson',
 'noirmanslaughtsocialdecayptsdchristianbalzoesaldanawoodyharrelson',
 'noirpersonalitydisordserialkilkojiyakushomasatohagiwaratsuyoshiujiki',
 'noirretrofuturrufussewelwilliamhurtkiefersutherland',
 'noirvalkilmvincentd',
 'noirvisualstorytelmumblegormaconblairdevinratrayamyhargreav',
 'noisibedroomactivmakelaurenbarginanddiscovadirtilittlsecret',
 'nojoy',
 'nolaresistbe',
 'nolongerbeaidbythegovernment',
 'nolongerbreathing',
 'nolongersatisfiwithjustwatching',
 'nolongertheretoprotecther',
 'nomatterwhat',
 'nominandconfirmasvicepresident',
 'nominesamuell',
 'nominforbestpicturandforbestartdirection',
 'nominforeightacademiawards',
 'nominforthreegoldenglobein2000',
 'non',
 'noneharderthanwhattheheckisanaccordianplayerdoinasauna',
 'noneofthecortez',
 'noneofthemknewtheothersideofdanmahowny',
 'noneofthemwillbethesameastheywilllearnharshtruthaboutlove',
 'nonewcustomers',
 'nonijeanisahotnewrisestar',
 'nonsensreactiontosuchlife',
 'nonstopactionandhigh',
 'nooccupplan',
 'noonebelievher',
 'noonebelievjason',
 'nooneisfreefromthescheme',
 'nooneishappierormoresupportthan',
 'nooneissafeandeveryonisasuspect',
 'nooneissafeandnoonecanbetrusted',
 'noonewanttobemica',
 'noonewouldbelievit',
 'noonewouldtakehicaseuntilonemanwawilltotakeonthesystem',
 'noose',
 'noraisaprivilegballetdancerattendbaltimore',
 'norlust',
 'normaandarthurfindthemselvinthecross',
 'normaandarthurlewis',
 'normal',
 'normally',
 'norman',
 'normanbabcockisaboywhocanspeaktothedead',
 'normandecidtocooperate',
 'normanmustresolvthecrisiforgoodasonlihecan',
 'normanstruggltosavehitown',
 'normsnively',
 'norrianderson',
 'northcarolinawhereherbondwithawidowforchertoconfrontthedarksecretthathaunther',
 'northeast',
 'northerncoastwithscoreofmini',
 'northernirishfathermakehisearchforemployintherepubldifficultdespithihavefoughtfortheira',
 'northkoreandictatkimjong',
 'nortonbegintounravel',
 'norwedvowcancomebetweenmccainandhimoney',
 'norwilliteverexist',
 'nosbillionairandmayorcandidwillstacktakeherinontherecommendofhiadvisers',
 'noscoach',
 'nose',
 'nosex',
 'nosferatu',
 'nosgangstertritomakeitonthestreets',
 'nosing',
 'nospokendialogucanbeheard',
 'nosprincipisrightlisuspicioffinn',
 'nostringattached',
 'nosyoungreporttakeonthepowers',
 'notabltoresisttemptation',
 'notahairoutofplace',
 'notallaboutkatherineither',
 'notaltogethbitter',
 'notanothteenmovie',
 'notbetter',
 'notblood',
 'notbusihitdowntownclubwithherfriends',
 'notbythechangnorbytime',
 'notcausaniproblems',
 'notchchardonnay',
 'notcoolfollowformerpromkingandcollegfreshmanscott',
 'notdiamond',
 'notdosogood',
 'note',
 'notellwherehecouldgo',
 'notenoughthattheybecombighitonthescene',
 'notetohiofficthatwhenthealliinvascometheymustbestoponthebeach',
 'notevenaliens',
 'notevenhiwife',
 'notevenmurder',
 'noteventheromanempire',
 'noteveryonintheworldisasniceasbabibink',
 'noteveryonistherethroughchoice',
 'noteveryonseemtoagreincludherboss',
 'noteveryonshescrewoverissoquicktoforgivandforget',
 'noteveryonwelcomthenewaddittothetroupasjackrabbitandmaggimousplottoevictthunder',
 'noteveryonwillmakeitoutalive',
 'notexactlithrilled',
 'notfinished',
 'notgetanisexfromhiwife',
 'notgotobeeasibecauscaponhathepolicinhipocket',
 'notgotobeeasiforhimtostayoutoftrouble',
 'nothbutchancandheavifogcouldbringhimtothicursplace',
 'nothbutwaterformiles',
 'nothcanstopcasey',
 'nothgetbetweenannmariandherboard',
 'nothgoeasplanandbangkokistheperfectsetforanothadventurwiththerowdigroup',
 'nothiownkids',
 'nothlefttodo',
 'nothmoveintheravaglandscapsavetheashonthewindandwater',
 'nothseemtolinkthetwoevent',
 'nothwillstandinthewayoflove',
 'nothworkuntiljonathanfallforcammigiles',
 'noticdramatincreasinintelligandbrainactivintheprimatsubject',
 'notjustmusclwithabadge',
 'notknowthatheisobservbyhiyoungestidealistdaughtereve',
 'notknowthattheotherhavealsobeeninvited',
 'notlongbeforacouplofhinewneighborfigurouthitrueidentandcomeknocktoseeifhe',
 'notomorrow',
 'notonce',
 'notonliabouthorses',
 'notonliafarcrifromhiworkclassbackground',
 'notonlidoethepairpossesssupernaturpowers',
 'notonliexists',
 'notonliintothememoriandimaginofmassmurderers',
 'notonlitooutwittheoldregimandcomeoutontop',
 'notoribaltimorcriminandundergroundfigurdivingoeupagainstconni',
 'notorigang',
 'notorisafe',
 'notrealisheisjustahomelessbeggarandpettithieflookforsomeeasicash',
 'notrealisshehasn',

In [99]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [131]:
similarity

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [119]:
def recommended_movie(movie):
    m_index = Df[Df['title'] == movie].index[0]
    dist = similarity[m_index]
    mo_list = sorted(list(enumerate(dist)), reverse=True, key=lambda x: x[1])[1:6]
    for i in mo_list:
        print(Df.iloc[i[0]]['title'])

In [138]:
def recommended_moviee(movie):
    movie_index = Df[Df['title'] == movie].index
    if len(movie_index) == 0:
        print("Movie not found.")
        return
    m_index = movie_index[0]
    if m_index >= len(similarity):
        print("Invalid movie index.")
        return
    dist = similarity[m_index]
    mo_list = sorted(list(enumerate(dist)), reverse=True, key=lambda x: x[1])[1:11]
    for i in mo_list:
        if i[0] >= len(Df):
            continue
        print(Df.iloc[i[0]]['title'])

In [139]:
# this Is How Showing Top 10 Similar movie 
recommended_moviee('Avatar')

Pirates of the Caribbean: At World's End
Spectre
The Dark Knight Rises
John Carter
Spider-Man 3
Tangled
Avengers: Age of Ultron
Harry Potter and the Half-Blood Prince
Batman v Superman: Dawn of Justice
Superman Returns

In [ ]:
# And this is the zEnd Of projects, its a simple Recmendation system i made